.submit-button {
    margin-right: 1rem !important;
    margin-left: 50px
}

.button-position{
    text-align: right;
}

.add-btn-position{
    text-align: right;
}

.add-records{
    background-color: blue !important;
    color: white !important;
}

.margin{
    margin-left: 10px !important;
}